#game-tab {
    display: grid;
    grid-template-columns: repeat(19, 40px);
    grid-auto-rows: 40px;
    justify-content: center;
}

body {
    background-color: black;
    text-align: center;
}

img {
    position: relative;
}